<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  {{!-- {{#each users}}
    <li> {{username}} : {{hosts}} </li>
  {{/each}} --}}

  <ul>
      {{#each uploads}}
          <li>
              {{!-- <img src="{{uploads.avatar.filePath}}" alt="User Photo" width="200" height="200" /> --}}
              <h2>{{avatar.filePath}}</h2>
              <img src="{{avatar.filePath}}" alt="">
          </li>
      {{/each}}
  </ul>

    {{!-- <ul>
        {{#each uploads as |b|}}
            <li>
                <h2>{{b.avatar.filePath}}</h2>
                <img src="{{b.avatar.filePath}}" alt="">

            </li>
        {{/each}}
    </ul> --}}



</body>
</html>